.background-wrap {
    position: fixed;
    z-index: -1000;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
}

video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
}

.container-fluid {
    background-color: white;
    position: relative;
    /*top: 600px;*/
    max-height: 100%;
    max-width: 100%;
    z-index: 1000;
}

.content-home {
    position: absolute;
    min-height: 100%;
    width:100%;
    z-index: 1000;
    text-align: center;
    background-color: rgba(255,255,255,0.7);
}

.content-home h1 {
    margin-top: 20%;
}

.methods-added li {
    list-style:none;
    background-image:none;
    background-position:0; 
}

ul {
    list-style-type:none;
    padding:0px;
    margin:0px;
}

.login-reg {
    width:600px;
    height:350px;
    margin:0 auto;
    text-align: center;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid white;
    border-radius: 5px;
    opacity: 0.8;
    box-shadow: 5px 5px 5px #7e7e7e;
}

.login-reg-bg {
    background-color: black;
    background-image: url(picnic.jpg);
}

.knockout-contact {
  -webkit-background-clip: text;
  font-weight: bold;
  font-size: 40px;
  font-family: 'Lato', sans-serif;
  color: #607D8B;
  width: 600px;
  margin: auto;
  text-align: center;
}

.section {
    height:700px;
}

.homepage {
    font-size:80px;
}

.lead {
    margin-left:50%;
    margin-top:25%; 
}

.landing-bg {
    background-color: black;
    background-image: url(beach-friends.jpg);
    background-repeat: no-repeat;
    background-position: center center fixed;
    background-size: cover;
    max-height: 100%;
    width: 100%;
    background-attachment: fixed;
}

.landing {
    position: absolute;
    width: 100%;
    z-index: 1000;
    text-align: center;
    /*background-color: rgba(255,255,255,0.7);*/
    
}

.success {
    background-color: black;
    background-image: url(cheers.jpg);
}

.methods {
    background-color: black;
    background-image: url(light-bulb.jpg);
    background-repeat: no-repeat;
    background-position: center center fixed;
    min-height: 100%;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

landing-li:link {
    color: #607D8B;
}

.content {
    margin:0;
    padding: 0;
    position: absolute;
    min-height: 100%;
    width:100%;
    z-index: 1000;
    text-align: center;
    background-color: rgba(255,255,255,0.7);
}

.content h1 {
    color: black;
    padding-top: 8%;
    margin-bottom: 10px;
    font-family: arial, helvetica;
    text-align: center;
}

.content p {
    color: #aaa;
}

.knockout {
  background: url(https://i.vimeocdn.com/video/570394282.webp?mw=1500&mh=848&q=70) -80px -80px;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: bold;
  font-size: 50px;
  font-family: arial, helvetica;
  margin: 10px auto;
  text-align: center;
}
