<!-- This file exists for template inheritance. It is where the repetitive
code in the other html files live. (ex: if you want the same jquery everywhere,
you can save yourself time by including it in this file and extending to the
inheriting html files.) -->
<head>
<!-- <link rel="stylesheet" href="static/stylesheet.css"> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script> 

</head>

{% block content %}

    Contacts
    <a href="/login">Login</a><br>

    <a href="/register">Register</a><br>

{% endblock %}

</body>
</html>