<!-- This file exists for template inheritance. It is where the repetitive
code in the other html files live. (ex: if you want the same jquery everywhere,
you can save yourself time by including it in this file and extending to the
inheriting html files.) -->

<html>
<head>
    <title>Contacts</title>
</head>
<body>
    
{% block content %}


    Contacts
    <a href="/login">Login</a><br>

    <a href="/register">Register</a>
    <br>


{% endblock %}
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
</body>
</html>