<!-- This file exists for template inheritance. It is where the repetitive
code in the other html files live. (ex: if you want the same jquery everywhere,
you can save yourself time by including it in this file and extending to the
inheriting html files.) -->

<html>
<head>
    <title>Contacts</title>
</head>
<body>
Contacts

{% if "user_id" in session %}
    <a href="/logout">Logout</a>
    {% else %}
    <a href="/login">Login</a>
    {% endif %}

    <a href="/register">Register</a>

{% for flash in get_flashed_messages() %}
  {{ flash }}
{% endfor %}

{% block content %}
    
{% endblock %}

</body>
</html>