{% extends 'base.html' %}
{% block content %}

<body class="login-reg-bg">
    <div class="login-reg">

    <h1>Success!</h1>
    <b>
    {% if relatp == "family" %}
        <p>{{ first_name }} {{ last_name }} has been added as your family member.</p>
    {% elif relatp == "professional" %}
        <p>{{ first_name }} {{ last_name }} has been added as your professional contact.</p>
    {% else %}
        <p>{{ first_name }} {{ last_name }} has been added as your friend.</p>
    {% endif %}</b><br>

    <a href="/methods-of-reaching-out/{{ user_id }}/{{ relatp_id }}">Assign Methods of Reaching out</a>

    </div>
</body>

{% endblock %}