{% extends 'base.html' %}
{% block content %}

    <a href="/logout">Logout</a><br>
    <a href="/event-display/{{ user_id }}">All of your Upcoming Events</a><br>

    <h1>Contact View</h1>
    <p>Display a selected contacts profile.</p><br>

    {% for relatp in relatp_info %}

        {{ relatp.first_name }} {{ relatp.last_name }}<br>

        {{ relatp.email }}<br>

        {{ relatp.bday }}<br>

        {{ relatp.phone }}<br>

        {{ relatp.work }}<br>

        {{ relatp.edu }}<br>

    {% endfor %}

    <h2>Preferences</h2>
    {% for relatp in relatp_info %}

        Gift Ideas: {{ relatp.gift_idea }}<br>

        Pets: {{ relatp.pet }}<br>

        Goals: {{ relatp.goal }}<br>

        Notes: {{ relatp.note }}<br>

        Family: {{ relatp.family }}<br>

        Hobbies: {{ relatp.hobby }}<br>

        Likes: {{ relatp.likes }}<br>

        Dislikes: {{ relatp.dislike }}<br>

        Pet Peeve: {{ relatp.pet_peeve }}<br>

        Favorite Food: {{ relatp.fav_food }}<br>

        Favorite Drink: {{ relatp.fav_drink }}<br>

        Favorite Restaurant: {{ relatp.fav_restaurant }}<br>

        Favorite Sports Teams: {{ relatp.sports_team }}<br>

        Favorite Brand: {{ relatp.fav_brand }}<br>

        Other Favorites: {{ relatp.other_fav }}<br>

        Conversation Log: {{ relatp.convo }}<br>

        Personality Traits: {{ relatp.trait }}<br>

    {% endfor %}

    <h2>Social Media</h2>
    {% for relatp in relatp_info %}

        Facebook: {{ relatp.fb }}<br>

        Linked In: {{ relatp.linked_in }}<br>

        Twitter: {{ relatp.twitter }}<br>

        Google+: {{ relatp.google_plus }}<br>

        Github: {{ relatp.github }}<br>

        Pinterest: {{ relatp.pinterest }}<br>

        Word Press: {{ relatp.word_press }}<br>

        Yelp: {{ relatp.yelp }}<br>

        Skype: {{ relatp.skype }}<br>

        Other Social Media: {{ relatp.other_social_media }}<br>

    {% endfor %}

    <h3>To Do</h3>
        <ul>

            <li>Add a way for users to update each field.</li>
            <li>Add anything user submits to respective table in db.</li>
            <li>Display all of user's other contacts in a bar to the left.</li>
        </ul>   
    
{% endblock %}