{% extends 'base.html' %}
{% block content %}

    <a href="/logout">Logout</a><br>
    <a href="/add-contacts/{{ user_id }}">Add a New Contact</a><br>
    <a href="/event-display/{{ user_id }}">All of your Upcoming Events</a><br><br>

    {% for relatp in relatp_info %}

        {% if relatp.last_name %}
        
            <h1>{{ relatp.first_name }} {{ relatp.last_name }}'s Profile</h1><br><br>

        {% else %}

            <h1>{{ relatp.first_name }}'s Profile</h1><br><br>

        {% endif %} 

        {% if relatp.email %}
        
            Email: {{ relatp.email }}<br>
            <input type="email" name="email">
            <input type="submit" value="Update"><br><br>

        {% else %}

            Email: <input type="email" name="email">
            <input type="submit" value="Update"><br><br>

        {% endif %}

        {% if relatp.bday %}

        Birthday: {{ relatp.bday }}<br>
        <input type="date" name="bday">
        <input type="submit" value="Update"><br><br>

        {% else %}

        Birthday:
        <input type="date" name="bday">
        <input type="submit" value="Update"><br><br>

        {% endif %}

        Phone: {{ relatp.phone }}<br>
        <input type="tel" type="tel">
        <input type="submit" value="Update"><br><br>

        {{ relatp.work }}<br><br>

        {{ relatp.edu }}<br><br>

    {% endfor %}

    <h2>Preferences</h2>
    {% for relatp in relatp_info %}

        Gift Ideas: {{ relatp.gift_idea }}<br><br>
        <input type="text">

        Pets: {{ relatp.pet }}<br><br>

        Goals: {{ relatp.goal }}<br><br>

        Notes: {{ relatp.note }}<br><br>

        Family: {{ relatp.family }}<br><br>

        Hobbies: {{ relatp.hobby }}<br><br>

        Likes: {{ relatp.likes }}<br><br>

        Dislikes: {{ relatp.dislike }}<br><br>

        Pet Peeve: {{ relatp.pet_peeve }}<br><br>

        Favorite Food: {{ relatp.fav_food }}<br><br>

        Favorite Drink: {{ relatp.fav_drink }}<br><br>

        Favorite Restaurant: {{ relatp.fav_restaurant }}<br><br>

        Favorite Sports Teams: {{ relatp.sports_team }}<br><br>

        Favorite Brand: {{ relatp.fav_brand }}<br><br>

        Other Favorites: {{ relatp.other_fav }}<br><br>

        Conversation Log: {{ relatp.convo }}<br><br>

        Personality Traits: {{ relatp.trait }}<br><br>
    {% endfor %}

    <h2>Social Media</h2>
    {% for relatp in relatp_info %}

        Facebook: {{ relatp.fb }}<br><br>

        Linked In: {{ relatp.linked_in }}<br><br>

        Twitter: {{ relatp.twitter }}<br><br>

        Google+: {{ relatp.google_plus }}<br><br>

        Github: {{ relatp.github }}<br><br>

        Pinterest: {{ relatp.pinterest }}<br><br>

        Word Press: {{ relatp.word_press }}<br><br>

        Yelp: {{ relatp.yelp }}<br><br>

        Skype: {{ relatp.skype }}<br><br>

        Other Social Media: {{ relatp.other_social_media }}<br><br>

    {% endfor %}

    <h3>To Do</h3>
        <ul>

            <li>Add a way for users to update each field.</li>
            <li>Add anything user submits to respective table in db.</li>
            <li>Display all of user's other contacts in a bar to the left.</li>
        </ul>   
    
{% endblock %}