{% extends 'base.html' %}
{% block content %}

<body>
    <div class="background-wrap">
        <video poster="/static/css/beach-fireworks.jpg" preload="auto" autoplay="true" muted="muted" loop>
            <source src="/static/css/Restaurant.mp4" type="video/mp4">
            Video not supported. 
        </video>
    </div>



    <div class="content">
    <br><br>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand"><span class="glyphicon glyphicon-registration-mark" aria-hidden="true"></span></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

              <ul class="nav navbar-nav">

                <li><a href="/add-contacts"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;Add New Contact</a></li>

                <li><a href="/landing-page"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;View Contacts</a></li>

              </ul>
              
              <ul class="nav navbar-nav navbar-right">
                <li><div style="center"><button class="btn btn-default navbar-btn" id="logout">Logout</button></div></li>
              </ul>

            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>



        <!-- <a href="/logout">Logout</a><br> -->

        <h1 class="knockout-contact">Upcoming Events</h1>
        <ul class="landing-li">
            {% for event in all_events %}
                <li><b>{{ event[0] }} {{ event[1] }}</b>: {{ event[2] }} {{ event[3] }}</li>
            {% endfor %}
        </ul><br><br><br>
    </div>
</body>

{% endblock %}