{% extends 'base.html' %}
{% block content %}

<body>
    <div class="background-wrap">
        <video poster="/static/css/beach-fireworks.jpg" preload="auto" autoplay="true" muted="muted" loop>
            <source src="/static/css/Restaurant.mp4" type="video/mp4">
            Video not supported. 
        </video>
    </div>

    <div class="content">
        <a href="/logout">Logout</a><br>
        <a href="/add-contacts/{{ user_id }}">Add a New Contact</a><br>
        <a href="/landing-page/{{ user_id }}">Landing Page</a>

        <h1 class="knockout">Upcoming Events</h1>
        <ul>
            {% for event in all_events %}
                <li>{{ event[0] }} {{ event[1] }}: {{ event[2] }} {{ event[3] }}</li>
            {% endfor %}
        </ul>
        <a href="/landing-page/{{ user_id }}">Back to Main</a>
    </div>
</body>

{% endblock %}