{% extends 'base.html' %}
{% block content %}

    <a href="/logout">Logout</a>
    <a href="/add-contacts/{{ user_id }}">Add a New Contact</a><br>
    <a href="/event-display/{{ user_id }}">All of your Upcoming Events</a>

    <h1>Landing Page</h1>

    <p>User lands on this page after registering or logging in.</p>

    <ul>
        {% for user_id, relatp_id, first_name, last_name in contact_name_and_id %}
            <li><a href="/contact-display/{{ user_id }}/{{ relatp_id }}">{{ first_name }} {{ last_name }}</a></li>
        {% endfor %}
    </ul>

    <h3>To Do</h3>
    <ul>
        <li>Display the user's contacts in ABC order to the left.</li>
        <li>When a contact name is clicked, pull up contact profile.</li>
        <li>Include a nav bar with a button to toggle to Scheduled Events view.</li>
    </ul>

{% endblock %}