{% extends 'base.html' %}

{% block content %}
<body class="landing-bg" id="landing-bg" style="background-color: rgba(255,255,255,0.7);">

<script>
 // This is called with the results from from FB.getLoginStatus().
  function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);
    // The response object is returned with a status field that lets the
    // app know the current login status of the person.
    // Full docs on the response object can be found in the documentation
    // for FB.getLoginStatus().
    if (response.status === 'connected') {
      // Logged into your app and Facebook.
      console.log("connected; all is well <3");
    } else if (response.status === 'not_authorized') {

      // The person is logged into Facebook, but not your app.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into this app at <a href="/">this link</a>.';
        // TODO disable the logout btn with jquery. id="logout"
    } else {
      // The person is not logged into Facebook, so we're not sure if
      // they are logged into this app or not.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into this app at <a href="/">this link</a>.';
        //TODO disable the logout btn with jquery. id="logout"

    }
  }

  // This function is called when someone finishes with the Login
  // Button.  See the onlogin handler attached to it in the sample
  // code below.
  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }

  window.fbAsyncInit = function() {
      FB.init({
        appId      : 1119256598140684,
        cookie     : true,  // enable cookies to allow the server to access 
                            // the session
        xfbml      : true,  // parse social plugins on this page
        version    : 'v2.7' // use graph api version 2.5
      });

      // Now that we've initialized the JavaScript SDK, we call 
      // FB.getLoginStatus().  This function gets the state of the
      // person visiting this page and can return one of three states to
      // the callback you provide.  They can be:
      //
      // 1. Logged into your app ('connected')
      // 2. Logged into Facebook, but not your app ('not_authorized')
      // 3. Not logged into Facebook and can't tell if they are logged into
      //    your app or not.
      //
      // These three cases are handled in the callback function.

      FB.getLoginStatus(function(response) {
         statusChangeCallback(response);
      });
  };

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  function fbLogout(evt) {
     FB.logout(function (response) {  
         alert("You have been logged out!")
         window.location = '/';
      });

   }
    </script><br><br>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand"><span class="glyphicon glyphicon-registration-mark" aria-hidden="true"></span></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav">

        <li><a href="/event-display"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>&nbsp;Upcoming Events</a></li>

        <li><a href="/add-contacts"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;Add New Contact</a></li>

      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <li><div style="center"><button class="btn btn-default navbar-btn" id="logout">Logout</button></div></li>
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="landing">

  <script>
      $('#logout').on('click', fbLogout);
  </script><br>

  <div id="status" hidden></div><br><br>

    <h1 class="knockout-contact">Relationships, managed.</h1><br>

    <span class="glyphicon glyphicon-registration-mark" aria-hidden="true"></span><br><br>

    <b><p>"Be the one who nurtures and builds.</p>
    <p>Be the one who has an understanding and forgiving heart - one who looks for the best in people.</p>
    <p>Leave people better than you found them.”</p>
    <p>― Marvin J. Ashton</p></b>

    <ul>
      {% for relatp_id, first_name, last_name in contact_name_and_id %}
          <li><a href="/contact-display/{{ relatp_id }}">{{ first_name }} {{ last_name }}</a></li>
      {% endfor %}
    </ul><br><br><br>
  </div>
</body>
{% endblock %} 



