{% extends 'base.html' %}
{% block content %}

    <a href="/register">Register</a><br>

    <h1>Login</h1>
    <form action="/login" method="POST">
        
        <div>
            <label>Email:
                <input type="email" name="email" required>
            </label>
        </div>

        <div>
            <label>Password:
                <input type="password" name="password" required>
            </label>
        </div>

        <div>
            <input type="submit" value="Log In">
        </div>

    </form>

    <h3>To Do</h3>
    <ul>
        <li>Fix the link from the login to the landing page.</li>
        
    </ul>
{% endblock %}