{% extends 'base.html' %}
{% block content %}

    <h1>Login</h1>
    <form action="/login" method="POST">
        
        <div>
            <label>Email:
                <input type="email" name="email" required>
            </label>
        </div>

        <div>
            <label>Password:
                <input type="password" name="password" required>
            </label>
        </div>

        <div>
            <input type="submit" value="Log In">
        </div>

    </form>

    <h3>To Do</h3>
    <ul>
        <li>Query the db to see if email exists in the User table.</li>
        <li>If the email does exist, does the password match?</li>
        <li>Alert the user if the password does not match.</li>
    </ul>
{% endblock %}