{% extends 'base.html' %}
{% block content %}

<body class="methods">
    <div class="login-reg">

    <h1>How do you want to stay in touch?</h1>
    <b>
    {% if relatp_type == "prf" %}
        <p>Quarterly emails will be sent with the recommendations selected below.
    {% else %}
        <p>Monthly emails will be sent with the recommendations selected below.
    {% endif %}
    Only one reminder will be sent, so be sure to mark your calendar right away!</p>
    </b>
    <form action="/methods-success/{{ user_id }}/{{ relatp_id }}", method="POST">

    <ul>
    {% for rcmdn in rcmdn_list %}
        <li><input type="checkbox" name="rcmdn" value="{{ rcmdn.rcmdn }}" checked>&nbsp;{{ rcmdn.rcmdn }}</li>
    {% endfor %}
    </ul><br>

    <input type="submit" value="Next">
    </form><br>

    </div>
</body>

{% endblock %}