{% extends 'base.html' %}
{% block content %}
    <h1>Here are some tips on how to reach out to your contacts:</h1>

    <form action="/methods-success/{{ user_id }}/{{ relatp_id }}", method="POST">
    {% for rcmdn in rcmdn_list %}
        <input type="checkbox" name="rcmdn" value="{{ rcmdn.rcmdn }}" checked>{{ rcmdn.rcmdn }}
    {% endfor %}
    <input type="submit" value="next">
    </form>
    <br>


    <h3>To Do</h3>
    <ul>
        <li>Jinja the name of the user that the user just added to 'your contacts'.</li>
        <li>Display option for adding a custom tip.</li>
        <li>Write a test that checks the link from this page to landing page.</li>
    </ul>
{% endblock %}