{% extends 'base.html' %}
{% block content %}

    <a href="/login">Login</a><br>

    <h1>Registration Page</h1>

    <form action="/registration-success" method="POST">
        <div>
            <label>First Name:
                <input type="text" name="fname" required>
            </label>
        </div>

        <div>
            <label>Last Name:
                <input type="text" name="lname" required>
            </label>
        </div>

        <div>
            <label>Email (this will be your user name):
                <input type="email" name="email" required>
            </label>
        </div>

        <div>
            <label>Password:
                <!-- The characters in a password field are masked (shown as asterisks or circles) when the input type is set to password. -->
                <input type="password" name="password" required>
            </label>
        </div>

        <div>
            <input type="submit" value="Register">
        </div>

    </form>
    
    <h3>To Do</h3>
    <ul>
        <li>Make sure the email is stored as lowercase in my db.</li>
    </ul>

    {% endblock %}